<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <title>Editar Profesional</title>
</head>
<body class="container">
<div th:replace="menu :: navy"></div>
<form th:action="@{/usuario/editar-profesional}" method="post" class="form">
    <div th:each="c:${profes}">
        <input type="number" class="form-control" th:value="${c.getIdProfes()}" name="idProfes" hidden="hidden">
        <div class="mb-3">
            <label for="tel" class="form-label">Telefono:</label>
            <input type="number" class="form-control" id="tel" th:value="${c.getTelefono()}" placeholder="Telefono" name="telefono">
        </div>
        <div class="mb-3">
            <label for="car" class="form-label">Cargo:</label>
            <input type="text" class="form-control" id="car" placeholder="Cargo" name="cargo" th:value="${c.getCargo()}">
        </div>
        <div class="rows">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </div>
</form>
</body>
</html>