<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="navy">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                <a class="nav-link" href="/contacto">Contacto</a>
                <a class="nav-link" href="/usuario/crear-usuario">Crear Usuario</a>
                <a class="nav-link" href="/usuario/listar-usuarios">Listar Usuarios</a>
                <a class="nav-link" href="/capacitacion/crear-capacitacion">Crear Capacitación</a>
                <a class="nav-link" href="/capacitacion/listar-capacitaciones">Listar Capacitaciones</a>
                <a class="nav-link" href="/visita/listar-visitas">Listar Visitas</a>
                <a class="nav-link" href="/visita/nueva-visita">Nueva Visita</a>
                <a class="nav-link" href="/visita/responder-checklist">Responder Checklist</a>
                <a class="nav-link" href="/visita/agregar-checklist">Agregar Checklist</a>
                <a class="nav-link" href="/pago/listar-pagos">Listar Pagos</a>
                <a class="nav-link" href="/pago/crear-pago">Crear Pago</a>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>
</div>
</body>
</html>